mixin video(video)
  div
    h4
      //- a(href="/video/" + video.id)=video.title
      a(href=`/video/${video.id}`)=video.title
    p=video.description
    ul 
      each hashtag in video.hashtags
        li=hashtag
    small=video.createdAt
    hr