extends base

block content
  if errorMessage
    span=errorMessage 
  form(method="POST")
    input(name="oldPassword", type="password", placeholder="Old password")
    input(name="newPassword", type="password", placeholder="New password")
    input(name="newPasswordConfirmation", type="password", placeholder="New password Confirmation")
    input(type="submit", value="Change Password")