extends base.pug

block content
  if errorMessage
    span=errorMessage
  form(method="POST", enctype="multipart/form-data")
    label(for="video") Video File 
    input(type="file", accept="video/*", required, id="video", name="video")
    input(name="title", type="text", required, placeholder="Title", maxlength=80)
    input(name="description", type="text", required, placeholder="Description", minlength=20)
    input(name="hashtags", type="text", required, placeholder="HashTags, seperated by comma")
    input(type="submit" value="Sumit")  